* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

#main_title{
    text-align: center;
}

#introduction{
    text-align: center;
}

#favorite_singer{
    text-align: center;
}